// Quién trabaje aquí que no escriba nada y se estiliza cuando nos reunamos :3
// Poned solo colores sin nombrar ninguna variable
.form {
  // width: 100%;
  padding: 0 20px 0 20px;
  font-family: "Open Sans", sans-serif;
  @media all and (min-width: 768px) {
    width: 50%;
    margin-left: 40px;
  }
}
.arrow-down{
  transform: rotate(180deg);
}
.collapsed{
  display: none;
}