* {
    padding: 0;
    margin: 0;
}
.body {
    min-height: 100vh;
    background: rgb(130,200,236);
    background: linear-gradient(0deg, rgba(130,200,236,1) 0%, rgba(250,250,250,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-card {
    background-image:url(../../static/media/roller.0692af01d39058274989.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px ridge #114e4e;
    border-radius: 15px;
}
.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    width: 240px;
    height: 340px;
    background-color: white;
    font-family: "Montserrat", sans-serif;


}
.card__name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 21px;
    text-align: left;
    color: #114e4e;
}
.card__job {
    font-size: 16px;
    color: #54585a;
    margin-left: 20px;
    margin-top: 4px;
    line-height: 1.5;
    text-align: left;
}
.profile__image {
    width: 240px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    height: 50px;
    justify-content: center;
    align-items: flex-end;
    color: #114e4e;
    text-decoration: none;
}
.socialmedia__icon {
    margin-top: 10px;
    border-radius: 16px;
    border: solid 2px #a2deaf;
    text-align: center;
    padding: 5px;
    color: #114e4e;
}
.palette1 .rectangle {
    width: 5px;
    height: 50px;
    background-color: #114e4e;
    margin-top: 8px;
    position: absolute;

}
.palette1 .socialmedia__icon {
    color: #114e4e;
    border:solid 2px #a2deaf;
}
.palette2 .rectangle {
    width: 5px;
    height: 50px;
    background-color: #bd1010;
    margin-top: 8px;
    position: absolute;
}
.palette2 .socialmedia__icon {
    color: #420101;
    border:solid 2px #e95626;
}
