$main-orange: #e17334;
$dark-green: #114e4e;
$medium-green: #438792;
$light-green: #a2deaf;
$main-silver: #bfcdd0;
$secondary-silver: #dde9ed;
$main-background: #f5f5f5;
$text-darkgrey: #54585a;
$text-lightgrey: #6b6b6b;
$blue-twitter: #00a0f5;
$dark-brown: #420101;
$dark-red: #bd1010;
$red: #e95626;
$grey-grey: #3e5b65;
$medium-orange: #eab052;
$light-grey: #a0c0cf;
$white: #ffff;
